---
#Add "layout: compress" here to compress the html code
---

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
{% include head.html %}
<style>
  body {
    /* padding: 0 !important; */
    min-width: initial !important;

  }

  .wrapper {
    max-width: unset !important;
  }

  .sheet {
    overflow: visible;
    height: auto !important;
    page-break-inside: avoid;
  }

  @page {
   size: A4;
   /* margin: 15mm 15mm 15mm 15mm; */
}
</style>

<body>
  <section class="sheet padding-10mm">

    <div class="wrapper">
      {% include sidebar-small.html %}

      <div class="main-wrapper">{{ content }}</div>
    </div>
  </section>

  {% include scripts.html %}
</body>

</html>